div {
  margin: 10px;
}

#mainSection .header2 {
  color: #0d5188;
  margin-top: 30px;
}

#nameMessage {
  margin-top: 20px;
}

#mainSection Button {
  margin-top: 20px;
}

#mainSection Table {
  color: #0d5188;
  margin-top: 30px;
}
